
BastosHuggo_Project 2.zip
BitBucket/BastosHuggo_Repo.pages
BitBucket/BastosHuggo_Repo.pdf
BitBucket/Bitbucket Screenshot.png
Exercise 1/BastosHuggo_CE1/.vs/BastosHuggo_CE1/v15/.suo
Exercise 1/BastosHuggo_CE1/.vs/BastosHuggo_CE1/v15/Server/sqlite3/db.lock
Exercise 1/BastosHuggo_CE1/.vs/BastosHuggo_CE1/v15/Server/sqlite3/storage.ide
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1.sln
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/.vs/BastosHuggo_CE1/v15/.suo
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/App.config
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/BastosHuggo_CE1.csproj
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/BastosHuggo_CE1.sln
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/bin/Debug/BastosHuggo_CE1.exe
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/bin/Debug/BastosHuggo_CE1.exe.config
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/bin/Debug/BastosHuggo_CE1.pdb
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/obj/Debug/BastosHuggo_CE1.csproj.CoreCompileInputs.cache
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/obj/Debug/BastosHuggo_CE1.csproj.FileListAbsolute.txt
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/obj/Debug/BastosHuggo_CE1.csprojResolveAssemblyReference.cache
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/obj/Debug/BastosHuggo_CE1.exe
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/obj/Debug/BastosHuggo_CE1.pdb
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/Program.cs
Exercise 1/BastosHuggo_CE1/BastosHuggo_CE1/Properties/AssemblyInfo.cs
Exercise 1/Code Images/BastosHuggo_Code1.png
Exercise 1/Code Images/BastosHuggo_Code2.png
Exercise 1/Code Images/BastosHuggo_Code3.png
Exercise 1/Code Images/BastosHuggo_Code4.png
Exercise 1/Code Images/BastosHuggo_Code5.png
Exercise 1/Console Output/BastosHuggo_Output1.png
Exercise 1/Console Output/BastosHuggo_Output2.png
Exercise 1/Console Output/BastosHuggo_Output3.png
Exercise 1/Console Output/BastosHuggo_Output4.png
Exercise 1/Console Output/BastosHuggo_Output5.png
Exercise 1/Console Output/Thumbs.db
Exercise 2/BastosHuggo_CE2/.vs/BastosHuggo_CE2/v15/.suo
Exercise 2/BastosHuggo_CE2/.vs/BastosHuggo_CE2/v15/Server/sqlite3/db.lock
Exercise 2/BastosHuggo_CE2/.vs/BastosHuggo_CE2/v15/Server/sqlite3/storage.ide
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2.sln
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/App.config
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/BastosHuggo_CE2.csproj
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/bin/Debug/BastosHuggo_CE2.exe
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/bin/Debug/BastosHuggo_CE2.exe.config
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/bin/Debug/BastosHuggo_CE2.pdb
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/obj/Debug/BastosHuggo_CE2.csproj.CoreCompileInputs.cache
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/obj/Debug/BastosHuggo_CE2.csproj.FileListAbsolute.txt
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/obj/Debug/BastosHuggo_CE2.csprojResolveAssemblyReference.cache
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/obj/Debug/BastosHuggo_CE2.exe
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/obj/Debug/BastosHuggo_CE2.pdb
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/Program.cs
Exercise 2/BastosHuggo_CE2/BastosHuggo_CE2/Properties/AssemblyInfo.cs
Exercise 2/Code Images/BastosHuggo_Code1.png
Exercise 2/Code Images/BastosHuggo_Code2.png
Exercise 2/Code Images/BastosHuggo_Code3.png
Exercise 2/Code Images/Thumbs.db
Exercise 2/Output Images/BastosHuggo_Output1.png
Exercise 3/BastosHuggo_CE3/.vs/BastosHuggo_CE3/v15/.suo
Exercise 3/BastosHuggo_CE3/.vs/BastosHuggo_CE3/v15/Server/sqlite3/db.lock
Exercise 3/BastosHuggo_CE3/.vs/BastosHuggo_CE3/v15/Server/sqlite3/storage.ide
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3.sln
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/App.config
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/BastosHuggo_CE3.csproj
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/bin/Debug/BastosHuggo_CE3.exe
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/bin/Debug/BastosHuggo_CE3.exe.config
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/bin/Debug/BastosHuggo_CE3.pdb
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/obj/Debug/BastosHuggo_CE3.csproj.CoreCompileInputs.cache
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/obj/Debug/BastosHuggo_CE3.csproj.FileListAbsolute.txt
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/obj/Debug/BastosHuggo_CE3.csprojResolveAssemblyReference.cache
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/obj/Debug/BastosHuggo_CE3.exe
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/obj/Debug/BastosHuggo_CE3.pdb
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/Program.cs
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/Properties/AssemblyInfo.cs
Exercise 3/BastosHuggo_CE3/BastosHuggo_CE3/Student.cs
Exercise 3/Code Images/BastosHuggo_Code1.png
Exercise 3/Code Images/BastosHuggo_Code10.png
Exercise 3/Code Images/BastosHuggo_Code11.png
Exercise 3/Code Images/BastosHuggo_Code2.png
Exercise 3/Code Images/BastosHuggo_Code3.png
Exercise 3/Code Images/BastosHuggo_Code4.png
Exercise 3/Code Images/BastosHuggo_Code5.png
Exercise 3/Code Images/BastosHuggo_Code6.png
Exercise 3/Code Images/BastosHuggo_Code7.png
Exercise 3/Code Images/BastosHuggo_Code8.png
Exercise 3/Code Images/BastosHuggo_Code9.png
Exercise 3/Code Output/BastosHuggo_Output1.png
Exercise 3/Code Output/BastosHuggo_Output2.png
Exercise 3/Code Output/BastosHuggo_Output3.png
Exercise 3/Code Output/BastosHuggo_Output4.png
Exercise 3/Code Output/Thumbs.db
Exercise 4/BastosHuggo_CE4/.vs/BastosHuggo_CE4/v15/.suo
Exercise 4/BastosHuggo_CE4/.vs/BastosHuggo_CE4/v15/Server/sqlite3/db.lock
Exercise 4/BastosHuggo_CE4/.vs/BastosHuggo_CE4/v15/Server/sqlite3/storage.ide
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4.sln
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/App.config
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/BastosHuggo_CE4.csproj
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/bin/Debug/BastosHuggo_CE4.exe
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/bin/Debug/BastosHuggo_CE4.exe.config
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/bin/Debug/BastosHuggo_CE4.pdb
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/obj/Debug/BastosHuggo_CE4.csproj.CoreCompileInputs.cache
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/obj/Debug/BastosHuggo_CE4.csproj.FileListAbsolute.txt
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/obj/Debug/BastosHuggo_CE4.csprojResolveAssemblyReference.cache
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/obj/Debug/BastosHuggo_CE4.exe
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/obj/Debug/BastosHuggo_CE4.pdb
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/Program.cs
Exercise 4/BastosHuggo_CE4/BastosHuggo_CE4/Properties/AssemblyInfo.cs
Exercise 4/Code Images/BastosHuggo_Code1.png
Exercise 4/Code Images/BastosHuggo_Code2.png
Exercise 4/Code Images/BastosHuggo_Code3.png
Exercise 4/Code Images/BastosHuggo_Code4.png
Exercise 4/Code Images/Thumbs.db
Exercise 4/Console Output/BastosHuggo_Output1.png
Exercise 4/Console Output/BastosHuggo_Output2.png
Exercise 4/Console Output/BastosHuggo_Output3.png
Exercise 4/Console Output/Thumbs.db
Exercise 5/BastosHuggo_CE5/.vs/BastosHuggo_CE5/v15/.suo
Exercise 5/BastosHuggo_CE5/.vs/BastosHuggo_CE5/v15/Server/sqlite3/db.lock
Exercise 5/BastosHuggo_CE5/.vs/BastosHuggo_CE5/v15/Server/sqlite3/storage.ide
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5.sln
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/App.config
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/BastosHuggo_CE5.csproj
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/bin/Debug/BastosHuggo_CE5.exe
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/bin/Debug/BastosHuggo_CE5.exe.config
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/bin/Debug/BastosHuggo_CE5.pdb
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/obj/Debug/BastosHuggo_CE5.csproj.CoreCompileInputs.cache
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/obj/Debug/BastosHuggo_CE5.csproj.FileListAbsolute.txt
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/obj/Debug/BastosHuggo_CE5.csprojResolveAssemblyReference.cache
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/obj/Debug/BastosHuggo_CE5.exe
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/obj/Debug/BastosHuggo_CE5.pdb
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/Program.cs
Exercise 5/BastosHuggo_CE5/BastosHuggo_CE5/Properties/AssemblyInfo.cs
Exercise 5/Code Imagaes/BastosHuggo_Code1.png
Exercise 5/Code Imagaes/BastosHuggo_Code2.png
Exercise 5/Code Imagaes/BastosHuggo_Code3.png
Exercise 5/Code Imagaes/BastosHuggo_Code4.png
Exercise 5/Code Imagaes/BastosHuggo_Code5.png
Exercise 5/Code Imagaes/BastosHuggo_Code6.png
Exercise 5/Code Imagaes/BastosHuggo_Code7.png
Exercise 5/Code Imagaes/Thumbs.db
Exercise 5/Output Images/BastosHuggo_Output1.png
Exercise 5/Output Images/Thumbs.db
Exercise 6/BastosHuggo_CE6/.vs/BastosHuggo_CE6/v15/.suo
Exercise 6/BastosHuggo_CE6/.vs/BastosHuggo_CE6/v15/Server/sqlite3/db.lock
Exercise 6/BastosHuggo_CE6/.vs/BastosHuggo_CE6/v15/Server/sqlite3/storage.ide
Exercise 6/BastosHuggo_CE6/.vs/BastosHuggo_CE6/v15/Server/sqlite3/storage.ide-shm
Exercise 6/BastosHuggo_CE6/.vs/BastosHuggo_CE6/v15/Server/sqlite3/storage.ide-wal
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6.sln
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/App.config
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/BastosHuggo_CE6.csproj
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/bin/Debug/BastosHuggo_CE6.exe
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/bin/Debug/BastosHuggo_CE6.exe.config
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/bin/Debug/BastosHuggo_CE6.pdb
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/obj/Debug/BastosHuggo_CE6.csproj.CoreCompileInputs.cache
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/obj/Debug/BastosHuggo_CE6.csproj.FileListAbsolute.txt
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/obj/Debug/BastosHuggo_CE6.csprojResolveAssemblyReference.cache
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/obj/Debug/BastosHuggo_CE6.exe
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/obj/Debug/BastosHuggo_CE6.pdb
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/Player.cs
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/Program.cs
Exercise 6/BastosHuggo_CE6/BastosHuggo_CE6/Properties/AssemblyInfo.cs
Exercise 6/Code Images/BastosHuggo_Code1.png
Exercise 6/Code Images/BastosHuggo_Code10.png
Exercise 6/Code Images/BastosHuggo_Code2.png
Exercise 6/Code Images/BastosHuggo_Code3.png
Exercise 6/Code Images/BastosHuggo_Code4.png
Exercise 6/Code Images/BastosHuggo_Code5.png
Exercise 6/Code Images/BastosHuggo_Code6.png
Exercise 6/Code Images/BastosHuggo_Code7.png
Exercise 6/Code Images/BastosHuggo_Code8.png
Exercise 6/Code Images/BastosHuggo_Code9.png
Exercise 6/Code Images/Thumbs.db
Exercise 6/Output Images/BastosHuggo_Output1.png
Exercise 6/Output Images/BastosHuggo_Output2.png
Exercise 6/Output Images/BastosHuggo_Output3.png
Exercise 7/BastosHuggo_CE7/.vs/BastosHuggo_CE7/v15/.suo
Exercise 7/BastosHuggo_CE7/.vs/BastosHuggo_CE7/v15/Server/sqlite3/db.lock
Exercise 7/BastosHuggo_CE7/.vs/BastosHuggo_CE7/v15/Server/sqlite3/storage.ide
Exercise 7/BastosHuggo_CE7/.vs/BastosHuggo_CE7/v15/Server/sqlite3/storage.ide-shm
Exercise 7/BastosHuggo_CE7/.vs/BastosHuggo_CE7/v15/Server/sqlite3/storage.ide-wal
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7.sln
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/App.config
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/BastosHuggo_CE7.csproj
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/bin/Debug/BastosHuggo_CE7.exe
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/bin/Debug/BastosHuggo_CE7.exe.config
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/bin/Debug/BastosHuggo_CE7.pdb
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/obj/Debug/BastosHuggo_CE7.csproj.CoreCompileInputs.cache
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/obj/Debug/BastosHuggo_CE7.csproj.FileListAbsolute.txt
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/obj/Debug/BastosHuggo_CE7.csprojResolveAssemblyReference.cache
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/obj/Debug/BastosHuggo_CE7.exe
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/obj/Debug/BastosHuggo_CE7.pdb
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/Program.cs
Exercise 7/BastosHuggo_CE7/BastosHuggo_CE7/Properties/AssemblyInfo.cs
Exercise 7/Code Images/BastosHuggo_Cod1.png
Exercise 7/Code Images/BastosHuggo_Code2.png
Exercise 7/Code Images/BastosHuggo_Code3.png
Exercise 7/Output Images/BastosHuggo_Output1.png
Exercise 7/Output Images/Thumbs.db
Exercise 8/BastosHuggo_CE8/.vs/BastosHuggo_CE8/v15/.suo
Exercise 8/BastosHuggo_CE8/.vs/BastosHuggo_CE8/v15/Server/sqlite3/db.lock
Exercise 8/BastosHuggo_CE8/.vs/BastosHuggo_CE8/v15/Server/sqlite3/storage.ide
Exercise 8/BastosHuggo_CE8/.vs/BastosHuggo_CE8/v15/Server/sqlite3/storage.ide-shm
Exercise 8/BastosHuggo_CE8/.vs/BastosHuggo_CE8/v15/Server/sqlite3/storage.ide-wal
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8.sln
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/App.config
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/BastosHuggo_CE8.csproj
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/bin/Debug/BastosHuggo_CE8.exe
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/bin/Debug/BastosHuggo_CE8.exe.config
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/bin/Debug/BastosHuggo_CE8.pdb
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/obj/Debug/BastosHuggo_CE8.csproj.CoreCompileInputs.cache
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/obj/Debug/BastosHuggo_CE8.csproj.FileListAbsolute.txt
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/obj/Debug/BastosHuggo_CE8.csprojResolveAssemblyReference.cache
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/obj/Debug/BastosHuggo_CE8.exe
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/obj/Debug/BastosHuggo_CE8.pdb
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/Program.cs
Exercise 8/BastosHuggo_CE8/BastosHuggo_CE8/Properties/AssemblyInfo.cs
Exercise 8/Code Images/BastosHuggo_Code1.png
Exercise 8/Code Images/BastosHuggo_Code2.png
Exercise 8/Code Images/BastosHuggo_Code3.png
Exercise 8/Code Images/BastosHuggo_Code4.png
Exercise 8/Output Images/BastosHuggo_Output1.png
Project 1/AllrecipesMainShowcase.jpg
Project 1/BastosHuggo_Complete.indd
Project 1/BastosHuggo_Project1.indd
Project 1/BastosHuggo_Project1.pdf
Project 1/BastosHuggo_Project1Updated.html
Project 1/BastosHuggo_Project1Updated.swf
Project 1/EpicuriousMainShowcase.jpg
Project 1/IMG_0445.jpg
Project 1/IMG_0446.jpg
Project 1/IMG_0447.jpg
Project 1/IMG_0448.jpg
Project 1/IMG_0449.jpg
Project 1/SupercookMainShowcase.jpg
Project 2/BastosHuggo_FinalPresentation.mov.zip
Thesis 3/BastosHuggo_ResearchNotes3.pdf
Thesis 3/BastosHuggo_Thesis3.indd
Thesis 3/BastosHuggo_Thesis3.pdf
Thesis 4/BastosHuggo_ResearchNotes4.pages
Thesis 4/BastosHuggo_ResearchNotes4.pdf
Thesis 4/BastosHuggo_Thesis4.pdf
Thesis 4/MDV229_WritingTemplate.indd
TimeTracker/BastoHuggo_FinalData3.png
TimeTracker/BastosHuggo_Chart.xlsx
TimeTracker/BastosHuggo_FinalData1.png
TimeTracker/BastosHuggo_FinalData2.png
TimeTracker/BastosHuggo_Paper.pdf
TimeTracker/BastosHuggo_Week1.png
TimeTracker/BastosHuggo_Week2.png
TimeTracker/BastosHuggo_Week3.png
TimeTracker/MDV229_WritingTemplate.indd
